section {width: 100%; height: auto;}
article {width: 60%; height: auto; margin: 6% 20%; padding: 4% 0%}

label{padding: 8px; margin: 0% 20%;}
input[type=text]{width: 60%; margin: 0% 20%; padding: 8px;}
input[type=email]{width: 60%; margin: 0% 20%; padding: 8px;}
select{width: 60%; margin: 0% 20%; padding: 8px;}
input[type=password]{width: 60%; margin: 0% 20%; padding: 8px;}
button{margin: 0% 20%; padding: 8px;}

.link_resposta{margin-left: 520px;}